			
			/* Background Navigasi */
			.topnav a {
				display: block;
				color: #f2f2f2;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				font-size: 17px;
				font-family: Verdana;
				margin-left: 40%;
				margin-right: 40%;
			}
			/* Style navigasi ketika active */
			.topnav a.active {
				background-color: #1bc221;
				color: white;
			}